/* =========================
   GLOBAL CSS VARIABLES
========================= */
:root {
  /* Backgrounds */
  /* --bg-app: #f3f4f6; */
  --bg-app: #ffffff;
  --bg-card: #ffffff;
  --bg-tabl: #f4f6f3;

  /* table hover */
 

  /* Primary colors */
  --color-primary: #040317;
  --color-primary-hover: #221f3e;

  /* Secondary */
  --color-secondary: #10b981;
  --color-danger: #ef4444;

  /* Text */
  --text-main: #111827;
  --text-muted: #6b7280;
}

/* =========================
   GLOBAL BODY STYLES
========================= */
 
body {
  background-color: var(--bg-app);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
  
  
}
